In [4]:
import pyspark
from pyspark.sql import SparkSession
from pyspark.conf import SparkConf
from pyspark.context import SparkContext

In [35]:
spark.stop()
sc.stop()

In [36]:
credentials_location = '/home/lorenz-gcp/batch-processing-fifa-dataset-on-gcp/mage/svcaccount.json'

conf = SparkConf() \
    .setMaster('local[*]') \
    .setAppName('fifa-transformation') \
    .set("spark.jars", "/home/lorenz-gcp/spark/gcs-connector-hadoop3-2.2.9-shaded.jar") \
    .set("spark.hadoop.google.cloud.auth.service.account.enable", "true") \
    .set("spark.hadoop.google.cloud.auth.service.account.json.keyfile", credentials_location)

In [37]:
sc = SparkContext(conf=conf)

hadoop_conf = sc._jsc.hadoopConfiguration()

hadoop_conf.set("fs.AbstractFileSystem.gs.impl",  "com.google.cloud.hadoop.fs.gcs.GoogleHadoopFS")
hadoop_conf.set("fs.gs.impl", "com.google.cloud.hadoop.fs.gcs.GoogleHadoopFileSystem")
hadoop_conf.set("fs.gs.auth.service.account.json.keyfile", credentials_location)
hadoop_conf.set("fs.gs.auth.service.account.enable", "true")

In [38]:
spark = SparkSession.builder \
    .config(conf=sc.getConf()) \
    .getOrCreate()

In [39]:
df_male = spark.read.csv('gs://mage-zoomcamp-bucket-lm/fifa-dataset-male.csv')
df_female = spark.read.csv('gs://mage-zoomcamp-bucket-lm/fifa-dataset-female.csv')

24/04/11 15:32:43 WARN FileStreamSink: Assume no metadata directory. Error while looking for metadata directory in the path: gs://mage-zoomcamp-bucket-lm/fifa-dataset_male.csv.
java.lang.RuntimeException: java.lang.ClassNotFoundException: Class com.google.cloud.hadoop.fs.gcs.GoogleHadoopFileSystem not found
	at org.apache.hadoop.conf.Configuration.getClass(Configuration.java:2688)
	at org.apache.hadoop.fs.FileSystem.getFileSystemClass(FileSystem.java:3431)
	at org.apache.hadoop.fs.FileSystem.createFileSystem(FileSystem.java:3466)
	at org.apache.hadoop.fs.FileSystem.access$300(FileSystem.java:174)
	at org.apache.hadoop.fs.FileSystem$Cache.getInternal(FileSystem.java:3574)
	at org.apache.hadoop.fs.FileSystem$Cache.get(FileSystem.java:3521)
	at org.apache.hadoop.fs.FileSystem.get(FileSystem.java:540)
	at org.apache.hadoop.fs.Path.getFileSystem(Path.java:365)
	at org.apache.spark.sql.execution.streaming.FileStreamSink$.hasMetadata(FileStreamSink.scala:53)
	at org.apache.spark.sql.execution.datasources.DataSource.resolveRelation(DataSource.scala:370)
	at org.apache.spark.sql.DataFrameReader.loadV1Source(DataFrameReader.scala:228)
	at org.apache.spark.sql.DataFrameReader.$anonfun$load$2(DataFrameReader.scala:210)
	at scala.Option.getOrElse(Option.scala:189)
	at org.apache.spark.sql.DataFrameReader.load(DataFrameReader.scala:210)
	at org.apache.spark.sql.DataFrameReader.csv(DataFrameReader.scala:537)
	at java.base/jdk.internal.reflect.NativeMethodAccessorImpl.invoke0(Native Method)
	at java.base/jdk.internal.reflect.NativeMethodAccessorImpl.invoke(NativeMethodAccessorImpl.java:62)
	at java.base/jdk.internal.reflect.DelegatingMethodAccessorImpl.invoke(DelegatingMethodAccessorImpl.java:43)
	at java.base/java.lang.reflect.Method.invoke(Method.java:566)
	at py4j.reflection.MethodInvoker.invoke(MethodInvoker.java:244)
	at py4j.reflection.ReflectionEngine.invoke(ReflectionEngine.java:357)
	at py4j.Gateway.invoke(Gateway.java:282)
	at py4j.commands.AbstractCommand.invokeMethod(AbstractCommand.java:132)
	at py4j.commands.CallCommand.execute(CallCommand.java:79)
	at py4j.ClientServerConnection.waitForCommands(ClientServerConnection.java:182)
	at py4j.ClientServerConnection.run(ClientServerConnection.java:106)
	at java.base/java.lang.Thread.run(Thread.java:834)
Caused by: java.lang.ClassNotFoundException: Class com.google.cloud.hadoop.fs.gcs.GoogleHadoopFileSystem not found
	at org.apache.hadoop.conf.Configuration.getClassByName(Configuration.java:2592)
	at org.apache.hadoop.conf.Configuration.getClass(Configuration.java:2686)
	... 26 more

Py4JJavaError: An error occurred while calling o685.csv.
: java.lang.RuntimeException: java.lang.ClassNotFoundException: Class com.google.cloud.hadoop.fs.gcs.GoogleHadoopFileSystem not found
	at org.apache.hadoop.conf.Configuration.getClass(Configuration.java:2688)
	at org.apache.hadoop.fs.FileSystem.getFileSystemClass(FileSystem.java:3431)
	at org.apache.hadoop.fs.FileSystem.createFileSystem(FileSystem.java:3466)
	at org.apache.hadoop.fs.FileSystem.access$300(FileSystem.java:174)
	at org.apache.hadoop.fs.FileSystem$Cache.getInternal(FileSystem.java:3574)
	at org.apache.hadoop.fs.FileSystem$Cache.get(FileSystem.java:3521)
	at org.apache.hadoop.fs.FileSystem.get(FileSystem.java:540)
	at org.apache.hadoop.fs.Path.getFileSystem(Path.java:365)
	at org.apache.spark.sql.execution.datasources.DataSource$.$anonfun$checkAndGlobPathIfNecessary$1(DataSource.scala:752)
	at scala.collection.immutable.List.map(List.scala:293)
	at org.apache.spark.sql.execution.datasources.DataSource$.checkAndGlobPathIfNecessary(DataSource.scala:750)
	at org.apache.spark.sql.execution.datasources.DataSource.checkAndGlobPathIfNecessary(DataSource.scala:579)
	at org.apache.spark.sql.execution.datasources.DataSource.resolveRelation(DataSource.scala:408)
	at org.apache.spark.sql.DataFrameReader.loadV1Source(DataFrameReader.scala:228)
	at org.apache.spark.sql.DataFrameReader.$anonfun$load$2(DataFrameReader.scala:210)
	at scala.Option.getOrElse(Option.scala:189)
	at org.apache.spark.sql.DataFrameReader.load(DataFrameReader.scala:210)
	at org.apache.spark.sql.DataFrameReader.csv(DataFrameReader.scala:537)
	at java.base/jdk.internal.reflect.NativeMethodAccessorImpl.invoke0(Native Method)
	at java.base/jdk.internal.reflect.NativeMethodAccessorImpl.invoke(NativeMethodAccessorImpl.java:62)
	at java.base/jdk.internal.reflect.DelegatingMethodAccessorImpl.invoke(DelegatingMethodAccessorImpl.java:43)
	at java.base/java.lang.reflect.Method.invoke(Method.java:566)
	at py4j.reflection.MethodInvoker.invoke(MethodInvoker.java:244)
	at py4j.reflection.ReflectionEngine.invoke(ReflectionEngine.java:357)
	at py4j.Gateway.invoke(Gateway.java:282)
	at py4j.commands.AbstractCommand.invokeMethod(AbstractCommand.java:132)
	at py4j.commands.CallCommand.execute(CallCommand.java:79)
	at py4j.ClientServerConnection.waitForCommands(ClientServerConnection.java:182)
	at py4j.ClientServerConnection.run(ClientServerConnection.java:106)
	at java.base/java.lang.Thread.run(Thread.java:834)
Caused by: java.lang.ClassNotFoundException: Class com.google.cloud.hadoop.fs.gcs.GoogleHadoopFileSystem not found
	at org.apache.hadoop.conf.Configuration.getClassByName(Configuration.java:2592)
	at org.apache.hadoop.conf.Configuration.getClass(Configuration.java:2686)
	... 29 more

In [1]:
import pyspark
from pyspark.sql import SparkSession
from pyspark.conf import SparkConf
from pyspark.context import SparkContext

In [4]:
spark = SparkSession.builder \
    .master("local[*]") \
    .appName('fifa-transformation') \
    .getOrCreate()

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

24/04/11 15:47:47 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [19]:
from pyspark.sql import types

In [27]:
df_male = spark.read.option("header", "true").option("inferSchema", "true").csv('fifa-dataset-male.csv')
df_female = spark.read.option("header", "true").option("inferSchema", "true").csv('fifa-dataset-female.csv')

In [28]:
df_male.head()
# df_female.head()

24/04/11 16:07:45 WARN CSVHeaderChecker: CSV header does not conform to the schema.
 Header: , sofifa_id, player_url, short_name, long_name, player_positions, overall, potential, value_eur, wage_eur, age, dob, height_cm, weight_kg, club_team_id, club_name, league_name, league_level, club_position, club_jersey_number, club_loaned_from, club_joined, club_contract_valid_until, nationality_id, nationality_name, nation_team_id, nation_position, nation_jersey_number, preferred_foot, weak_foot, skill_moves, international_reputation, work_rate, body_type, real_face, release_clause_eur, player_tags, player_traits, pace, shooting, passing, dribbling, defending, physic, attacking_crossing, attacking_finishing, attacking_heading_accuracy, attacking_short_passing, attacking_volleys, skill_dribbling, skill_curve, skill_fk_accuracy, skill_long_passing, skill_ball_control, movement_acceleration, movement_sprint_speed, movement_agility, movement_reactions, movement_balance, power_shot_power, power_jumping, power_stamina, power_strength, power_long_shots, mentality_aggression, mentality_interceptions, mentality_positioning, mentality_vision, mentality_penalties, mentality_composure, defending_marking_awareness, defending_standing_tackle, defending_sliding_tackle, goalkeeping_diving, goalkeeping_handling, goalkeeping_kicking, goalkeeping_positioning, goalkeeping_reflexes, goalkeeping_speed, ls, st, rs, lw, lf, cf, rf, rw, lam, cam, ram, lm, lcm, cm, rcm, rm, lwb, ldm, cdm, rdm, rwb, lb, lcb, cb, rcb, rb, gk, player_face_url, club_logo_url, club_flag_url, nation_logo_url, nation_flag_url, version
 Schema: _c0, sofifa_id, player_url, short_name, long_name, player_positions, overall, potential, value_eur, wage_eur, age, dob, height_cm, weight_kg, club_team_id, club_name, league_name, league_level, club_position, club_jersey_number, club_loaned_from, club_joined, club_contract_valid_until, nationality_id, nationality_name, nation_team_id, nation_position, nation_jersey_number, preferred_foot, weak_foot, skill_moves, international_reputation, work_rate, body_type, real_face, release_clause_eur, player_tags, player_traits, pace, shooting, passing, dribbling, defending, physic, attacking_crossing, attacking_finishing, attacking_heading_accuracy, attacking_short_passing, attacking_volleys, skill_dribbling, skill_curve, skill_fk_accuracy, skill_long_passing, skill_ball_control, movement_acceleration, movement_sprint_speed, movement_agility, movement_reactions, movement_balance, power_shot_power, power_jumping, power_stamina, power_strength, power_long_shots, mentality_aggression, mentality_interceptions, mentality_positioning, mentality_vision, mentality_penalties, mentality_composure, defending_marking_awareness, defending_standing_tackle, defending_sliding_tackle, goalkeeping_diving, goalkeeping_handling, goalkeeping_kicking, goalkeeping_positioning, goalkeeping_reflexes, goalkeeping_speed, ls, st, rs, lw, lf, cf, rf, rw, lam, cam, ram, lm, lcm, cm, rcm, rm, lwb, ldm, cdm, rdm, rwb, lb, lcb, cb, rcb, rb, gk, player_face_url, club_logo_url, club_flag_url, nation_logo_url, nation_flag_url, version
Expected: _c0 but found:
CSV file: file:///home/lorenz-gcp/batch-processing-fifa-dataset-on-gcp/spark/fifa-dataset-male.csv

Row(_c0=0, sofifa_id=158023, player_url='https://sofifa.com/player/158023/lionel-messi/150002', short_name='L. Messi', long_name='Lionel Andrés Messi Cuccittini', player_positions='CF', overall=93, potential=95, value_eur=100500000, wage_eur=550000, age=27, dob=datetime.datetime(1987, 6, 24, 0, 0), height_cm=169, weight_kg=67, club_team_id=241.0, club_name='FC Barcelona', league_name='Spain Primera Division', league_level=1.0, club_position='CF', club_jersey_number=10.0, club_loaned_from=None, club_joined=datetime.datetime(2004, 7, 1, 0, 0), club_contract_valid_until=2018.0, nationality_id=52, nationality_name='Argentina', nation_team_id=1369.0, nation_position='CF', nation_jersey_number=10.0, preferred_foot='Left', weak_foot=3, skill_moves=4, international_reputation=5, work_rate='Medium/Low', body_type='Normal (170-)', real_face='Yes', release_clause_eur=None, player_tags='#Speedster, #Dribbler, #FK Specialist, #Acrobat, #Clinical Finisher, #Complete Forward', player_traits='Finesse Shot, Speed Dribbler (AI), One Club Player, Team Player', pace=93.0, shooting=89.0, passing=86.0, dribbling=96.0, defending=27.0, physic=63.0, attacking_crossing=84, attacking_finishing=94, attacking_heading_accuracy=71, attacking_short_passing=89, attacking_volleys=85, skill_dribbling=96, skill_curve=89, skill_fk_accuracy=90, skill_long_passing=76, skill_ball_control=96, movement_acceleration=96, movement_sprint_speed=90, movement_agility=94, movement_reactions=94, movement_balance=95, power_shot_power=80, power_jumping=73, power_stamina=77, power_strength=60, power_long_shots=88, mentality_aggression=48, mentality_interceptions=22, mentality_positioning=92, mentality_vision=90, mentality_penalties=76, mentality_composure=None, defending_marking_awareness=25, defending_standing_tackle=21, defending_sliding_tackle=20, goalkeeping_diving=6, goalkeeping_handling=11, goalkeeping_kicking=15, goalkeeping_positioning=14, goalkeeping_reflexes=8, goalkeeping_speed=None, ls='89+3', st='89+3', rs='89+3', lw='92+3', lf='90+3', cf='90+3', rf='90+3', rw='92+3', lam='92+3', cam='92+3', ram='92+3', lm='90+3', lcm='79+3', cm='79+3', rcm='79+3', rm='90+3', lwb='62+3', ldm='62+3', cdm='62+3', rdm='62+3', rwb='62+3', lb='54+3', lcb='45+3', cb='45+3', rcb='45+3', rb='54+3', gk='15+3', player_face_url='https://cdn.sofifa.net/players/158/023/15_120.png', club_logo_url='https://cdn.sofifa.net/teams/241/60.png', club_flag_url='https://cdn.sofifa.net/flags/es.png', nation_logo_url='https://cdn.sofifa.net/teams/1369/60.png', nation_flag_url='https://cdn.sofifa.net/flags/ar.png', version=15)

In [29]:
columns_to_keep = [
        'sofifa_id',
        'version',
        'short_name',
        'overall',
        'player_url',
        'age',
        'dob',
        'height_cm',
        'weight_kg',
        'nationality_name',
        'club_name',
        'league_name',
        'league_level',
        'potential',
        'value_eur',
        'wage_eur',
        'player_positions'
]

df_male_select = df_male.select(columns_to_keep)
df_female_select = df_female.select(columns_to_keep)

In [31]:
from pyspark.sql.functions import lit

df_male_select = df_male_select.withColumn('gender', lit('male'))
df_female_select = df_female_select.withColumn('gender', lit('female'))

In [34]:
df_male_select.head()
print((df_male_select.count(), len(df_male_select.columns)))
print((df_female_select.count(), len(df_female_select.columns)))

(142079, 19)
(2244, 19)

In [36]:
df_complete = df_male_select.union(df_female_select)

In [39]:
print((df_complete.count(), len(df_complete.columns)))
df_complete.columns
df_complete.show()

(144323, 19)
+---------+-------+-----------------+-------+--------------------+---+-------------------+---------+---------+----------------+-------------------+--------------------+------------+---------+---------+--------+----------------+-------+------+
|sofifa_id|version|       short_name|overall|          player_url|age|                dob|height_cm|weight_kg|nationality_name|          club_name|         league_name|league_level|potential|value_eur|wage_eur|player_positions|version|gender|
+---------+-------+-----------------+-------+--------------------+---+-------------------+---------+---------+----------------+-------------------+--------------------+------------+---------+---------+--------+----------------+-------+------+
|   158023|     15|         L. Messi|     93|https://sofifa.co...| 27|1987-06-24 00:00:00|      169|       67|       Argentina|       FC Barcelona|Spain Primera Div...|         1.0|       95|100500000|  550000|              CF|     15|  male|
|    20801|     15|Cristiano Ronaldo|     92|https://sofifa.co...| 29|1985-02-05 00:00:00|      185|       80|        Portugal|     Real Madrid CF|Spain Primera Div...|         1.0|       92| 79000000|  375000|          LW, LM|     15|  male|
|     9014|     15|        A. Robben|     90|https://sofifa.co...| 30|1984-01-23 00:00:00|      180|       80|     Netherlands|  FC Bayern München|German 1. Bundesliga|         1.0|       90| 54500000|  275000|      RM, LM, RW|     15|  male|
|    41236|     15|   Z. Ibrahimović|     90|https://sofifa.co...| 32|1981-10-03 00:00:00|      195|       95|          Sweden|Paris Saint-Germain|      French Ligue 1|         1.0|       90| 52500000|  275000|              ST|     15|  male|
|   167495|     15|         M. Neuer|     90|https://sofifa.co...| 28|1986-03-27 00:00:00|      193|       92|         Germany|  FC Bayern München|German 1. Bundesliga|         1.0|       90| 63500000|  300000|              GK|     15|  male|
|       41|     15|          Iniesta|     89|https://sofifa.co...| 30|1984-05-11 00:00:00|      170|       65|           Spain|       FC Barcelona|Spain Primera Div...|         1.0|       89| 36000000|  250000|          CM, LW|     15|  male|
|   176580|     15|        L. Suárez|     89|https://sofifa.co...| 27|1987-01-24 00:00:00|      181|       81|         Uruguay|       FC Barcelona|Spain Primera Div...|         1.0|       91| 49500000|  300000|          ST, CF|     15|  male|
|     7826|     15|    R. van Persie|     88|https://sofifa.co...| 30|1983-08-06 00:00:00|      187|       71|     Netherlands|  Manchester United|English Premier L...|         1.0|       88| 40500000|  230000|              ST|     15|  male|
|   121944|     15|B. Schweinsteiger|     88|https://sofifa.co...| 29|1984-08-01 00:00:00|      183|       79|         Germany|  FC Bayern München|German 1. Bundesliga|         1.0|       88| 39000000|  200000|         CM, CDM|     15|  male|
|   156616|     15|        F. Ribéry|     88|https://sofifa.co...| 31|1983-04-07 00:00:00|      170|       72|          France|  FC Bayern München|German 1. Bundesliga|         1.0|       88| 33000000|  200000|              LM|     15|  male|
|   167397|     15|           Falcao|     88|https://sofifa.co...| 28|1986-02-10 00:00:00|      177|       72|        Colombia|  Manchester United|English Premier L...|         1.0|       88| 46500000|  250000|              ST|     15|  male|
|   183277|     15|        E. Hazard|     88|https://sofifa.co...| 23|1991-01-07 00:00:00|      173|       74|         Belgium|            Chelsea|English Premier L...|         1.0|       90| 40500000|  210000|          LM, RM|     15|  male|
|   121939|     15|          P. Lahm|     87|https://sofifa.co...| 30|1983-11-11 00:00:00|      170|       66|         Germany|  FC Bayern München|German 1. Bundesliga|         1.0|       87| 24500000|  190000|     CDM, RB, CM|     15|  male|
|   155862|     15|     Sergio Ramos|     87|https://sofifa.co...| 28|1986-03-30 00:00:00|      183|       75|           Spain|     Real Madrid CF|Spain Primera Div...|         1.0|       87| 31500000|  220000|              CB|     15|  male|
|   164240|     15|     Thiago Silva|     87|https://sofifa.co...| 29|1984-09-22 00:00:00|      183|       79|          Brazil|Paris Saint-Germain|      French Ligue 1|         1.0|       87| 29000000|  190000|              CB|     15|  male|
|   168542|     15|      David Silva|     87|https://sofifa.co...| 28|1986-01-08 00:00:00|      170|       67|           Spain|    Manchester City|English Premier L...|         1.0|       87| 36500000|  220000|         LM, CAM|     15|  male|
|   173731|     15|          G. Bale|     87|https://sofifa.co...| 24|1989-07-16 00:00:00|      183|       74|           Wales|     Real Madrid CF|Spain Primera Div...|         1.0|       91| 39000000|  200000|          RM, RW|     15|  male|
|   177003|     15|        L. Modrić|     87|https://sofifa.co...| 28|1985-09-09 00:00:00|      174|       65|         Croatia|     Real Madrid CF|Spain Primera Div...|         1.0|       87| 36500000|  220000|         CM, CDM|     15|  male|
|   188545|     15|   R. Lewandowski|     87|https://sofifa.co...| 25|1988-08-21 00:00:00|      184|       78|          Poland|  FC Bayern München|German 1. Bundesliga|         1.0|       89| 44000000|  210000|          ST, CF|     15|  male|
|    10535|     15|             Xavi|     86|https://sofifa.co...| 34|1980-01-25 00:00:00|      170|       68|           Spain|       FC Barcelona|Spain Primera Div...|         1.0|       86| 15500000|  160000|              CM|     15|  male|
+---------+-------+-----------------+-------+--------------------+---+-------------------+---------+---------+----------------+-------------------+--------------------+------------+---------+---------+--------+----------------+-------+------+
only showing top 20 rows

In [44]:
# TOTAL PLAYERS IN EACH FIFA BY GENDER

df_complete.groupby('version', 'gender').count().show()

+-------+------+-----+
|version|gender|count|
+-------+------+-----+
|     16|  male|15623|
|     15|  male|16155|
|     17|  male|17596|
|     18|  male|17954|
|     19|  male|18085|
|     20|  male|18483|
|     21|  male|18944|
|     22|  male|19239|
|     16|female|  248|
|     17|female|  299|
|     22|female|  391|
|     19|female|  299|
|     20|female|  345|
|     21|female|  345|
|     18|female|  317|
+-------+------+-----+

In [58]:
df_count = df_complete.groupby('version', 'gender', 'overall').count()
df_filter = df_count.filter("overall > 90").show()
#df_complete.groupby('version', 'gender').agg(sum("overall").as("sum_salary")).where(df_complete['overall'] > 90)

+-------+------+-------+-----+
|version|gender|overall|count|
+-------+------+-------+-----+
|     17|  male|     92|    3|
|     17|  male|     93|    1|
|     15|  male|     93|    1|
|     15|  male|     92|    1|
|     16|  male|     94|    1|
|     16|  male|     93|    1|
|     17|  male|     94|    1|
|     18|  male|     91|    1|
|     18|  male|     94|    1|
|     19|  male|     92|    1|
|     19|  male|     91|    6|
|     18|  male|     93|    1|
|     18|  male|     92|    3|
|     19|  male|     94|    2|
|     21|  male|     91|    4|
|     21|  male|     93|    1|
|     20|  male|     94|    1|
|     20|  male|     92|    1|
|     20|  male|     93|    1|
|     21|  male|     92|    1|
+-------+------+-------+-----+
only showing top 20 rows

In [77]:
# TOP PLAYER IN EACH FIFA

df_green_revenue = spark.sql("""

SELECT version, short_name, overall
FROM fifa WHERE (version,overall) IN
( SELECT version, MAX(overall)
  FROM fifa
  GROUP BY version
)

""")


df_green_revenue.show()

+-------+-----------------+-------+
|version|       short_name|overall|
+-------+-----------------+-------+
|     15|         L. Messi|     93|
|     16|         L. Messi|     94|
|     17|Cristiano Ronaldo|     94|
|     18|Cristiano Ronaldo|     94|
|     19|Cristiano Ronaldo|     94|
|     19|         L. Messi|     94|
|     20|         L. Messi|     94|
|     21|         L. Messi|     93|
|     22|         L. Messi|     93|
|     21|       M. Rapinoe|     93|
+-------+-----------------+-------+

In [90]:
# Best Team in each fifa (considering the 11 top players)

df_best_teams = spark.sql("""

SELECT version, club_name, overall
FROM fifa WHERE club_name IN
( SELECT club_name, SUM(overall)
  FROM fifa
  GROUP BY club_name
)

""").show()

# Best Nation (ALSO FOR POTENTIAL) in each fifa male and female

# top player female

# Best team in each fifa male and female

# SE CE TEMPO WAGE INCREASE

AnalysisException: cannot resolve '(fifa.club_name IN (listquery()))' due to data type mismatch:
The number of columns in the left hand side of an IN subquery does not match the
number of columns in the output of subquery.
#columns in left hand side: 1.
#columns in right hand side: 2.
Left side columns:
[fifa.club_name].
Right side columns:
[fifa.club_name, `sum(overall)`].; line 4 pos 26;
'Project ['version, 'club_name, 'overall]
+- 'Filter club_name#3083 IN (list#6107 [])
   :  +- Aggregate [club_name#6125], [club_name#6125, sum(overall#6116) AS sum(overall)#6109L]
   :     +- SubqueryAlias fifa
   :        +- View (`fifa`, [sofifa_id#6111,version#6221,short_name#6113,overall#6116,player_url#6112,age#6120,dob#6121,height_cm#6122,weight_kg#6123,nationality_name#6134,club_name#6125,league_name#6126,league_level#3846,potential#6117,value_eur#6118,wage_eur#6119,player_positions#6115,version#3844,gender#3683])
   :           +- Union false, false
   :              :- Project [sofifa_id#6111, version#6221, short_name#6113, overall#6116, player_url#6112, age#6120, dob#6121, height_cm#6122, weight_kg#6123, nationality_name#6134, club_name#6125, league_name#6126, cast(league_level#6127 as string) AS league_level#3846, potential#6117, value_eur#6118, wage_eur#6119, player_positions#6115, version#3844, gender#3683]
   :              :  +- Project [sofifa_id#6111, version#6221, short_name#6113, overall#6116, player_url#6112, age#6120, dob#6121, height_cm#6122, weight_kg#6123, nationality_name#6134, club_name#6125, league_name#6126, league_level#6127, potential#6117, value_eur#6118, wage_eur#6119, player_positions#6115, version#6221 AS version#3844, gender#3683]
   :              :     +- Project [sofifa_id#6111, version#6221, short_name#6113, overall#6116, player_url#6112, age#6120, dob#6121, height_cm#6122, weight_kg#6123, nationality_name#6134, club_name#6125, league_name#6126, league_level#6127, potential#6117, value_eur#6118, wage_eur#6119, player_positions#6115, version#6221, male AS gender#3683]
   :              :        +- Project [sofifa_id#6111, version#6221, short_name#6113, overall#6116, player_url#6112, age#6120, dob#6121, height_cm#6122, weight_kg#6123, nationality_name#6134, club_name#6125, league_name#6126, league_level#6127, potential#6117, value_eur#6118, wage_eur#6119, player_positions#6115, version#6221]
   :              :           +- Relation [_c0#6110,sofifa_id#6111,player_url#6112,short_name#6113,long_name#6114,player_positions#6115,overall#6116,potential#6117,value_eur#6118,wage_eur#6119,age#6120,dob#6121,height_cm#6122,weight_kg#6123,club_team_id#6124,club_name#6125,league_name#6126,league_level#6127,club_position#6128,club_jersey_number#6129,club_loaned_from#6130,club_joined#6131,club_contract_valid_until#6132,nationality_id#6133,... 88 more fields] csv
   :              +- Project [sofifa_id#6223, version#6333, short_name#6225, overall#6228, player_url#6224, age#6232, dob#6233, height_cm#6234, weight_kg#6235, nationality_name#6246, club_name#6237, league_name#6238, league_level#6239, potential#6229, value_eur#6230, wage_eur#6231, player_positions#6227, version#6333 AS version#3845, gender#3703]
   :                 +- Project [sofifa_id#6223, version#6333, short_name#6225, overall#6228, player_url#6224, age#6232, dob#6233, height_cm#6234, weight_kg#6235, nationality_name#6246, club_name#6237, league_name#6238, league_level#6239, potential#6229, value_eur#6230, wage_eur#6231, player_positions#6227, version#6333, female AS gender#3703]
   :                    +- Project [sofifa_id#6223, version#6333, short_name#6225, overall#6228, player_url#6224, age#6232, dob#6233, height_cm#6234, weight_kg#6235, nationality_name#6246, club_name#6237, league_name#6238, league_level#6239, potential#6229, value_eur#6230, wage_eur#6231, player_positions#6227, version#6333]
   :                       +- Relation [_c0#6222,sofifa_id#6223,player_url#6224,short_name#6225,long_name#6226,player_positions#6227,overall#6228,potential#6229,value_eur#6230,wage_eur#6231,age#6232,dob#6233,height_cm#6234,weight_kg#6235,club_team_id#6236,club_name#6237,league_name#6238,league_level#6239,club_position#6240,club_jersey_number#6241,club_loaned_from#6242,club_joined#6243,club_contract_valid_until#6244,nationality_id#6245,... 88 more fields] csv
   +- SubqueryAlias fifa
      +- View (`fifa`, [sofifa_id#3069,version#3179,short_name#3071,overall#3074,player_url#3070,age#3078,dob#3079,height_cm#3080,weight_kg#3081,nationality_name#3092,club_name#3083,league_name#3084,league_level#3846,potential#3075,value_eur#3076,wage_eur#3077,player_positions#3073,version#3844,gender#3683])
         +- Union false, false
            :- Project [sofifa_id#3069, version#3179, short_name#3071, overall#3074, player_url#3070, age#3078, dob#3079, height_cm#3080, weight_kg#3081, nationality_name#3092, club_name#3083, league_name#3084, cast(league_level#3085 as string) AS league_level#3846, potential#3075, value_eur#3076, wage_eur#3077, player_positions#3073, version#3844, gender#3683]
            :  +- Project [sofifa_id#3069, version#3179, short_name#3071, overall#3074, player_url#3070, age#3078, dob#3079, height_cm#3080, weight_kg#3081, nationality_name#3092, club_name#3083, league_name#3084, league_level#3085, potential#3075, value_eur#3076, wage_eur#3077, player_positions#3073, version#3179 AS version#3844, gender#3683]
            :     +- Project [sofifa_id#3069, version#3179, short_name#3071, overall#3074, player_url#3070, age#3078, dob#3079, height_cm#3080, weight_kg#3081, nationality_name#3092, club_name#3083, league_name#3084, league_level#3085, potential#3075, value_eur#3076, wage_eur#3077, player_positions#3073, version#3179, male AS gender#3683]
            :        +- Project [sofifa_id#3069, version#3179, short_name#3071, overall#3074, player_url#3070, age#3078, dob#3079, height_cm#3080, weight_kg#3081, nationality_name#3092, club_name#3083, league_name#3084, league_level#3085, potential#3075, value_eur#3076, wage_eur#3077, player_positions#3073, version#3179]
            :           +- Relation [_c0#3068,sofifa_id#3069,player_url#3070,short_name#3071,long_name#3072,player_positions#3073,overall#3074,potential#3075,value_eur#3076,wage_eur#3077,age#3078,dob#3079,height_cm#3080,weight_kg#3081,club_team_id#3082,club_name#3083,league_name#3084,league_level#3085,club_position#3086,club_jersey_number#3087,club_loaned_from#3088,club_joined#3089,club_contract_valid_until#3090,nationality_id#3091,... 88 more fields] csv
            +- Project [sofifa_id#3310, version#3420, short_name#3312, overall#3315, player_url#3311, age#3319, dob#3320, height_cm#3321, weight_kg#3322, nationality_name#3333, club_name#3324, league_name#3325, league_level#3326, potential#3316, value_eur#3317, wage_eur#3318, player_positions#3314, version#3420 AS version#3845, gender#3703]
               +- Project [sofifa_id#3310, version#3420, short_name#3312, overall#3315, player_url#3311, age#3319, dob#3320, height_cm#3321, weight_kg#3322, nationality_name#3333, club_name#3324, league_name#3325, league_level#3326, potential#3316, value_eur#3317, wage_eur#3318, player_positions#3314, version#3420, female AS gender#3703]
                  +- Project [sofifa_id#3310, version#3420, short_name#3312, overall#3315, player_url#3311, age#3319, dob#3320, height_cm#3321, weight_kg#3322, nationality_name#3333, club_name#3324, league_name#3325, league_level#3326, potential#3316, value_eur#3317, wage_eur#3318, player_positions#3314, version#3420]
                     +- Relation [_c0#3309,sofifa_id#3310,player_url#3311,short_name#3312,long_name#3313,player_positions#3314,overall#3315,potential#3316,value_eur#3317,wage_eur#3318,age#3319,dob#3320,height_cm#3321,weight_kg#3322,club_team_id#3323,club_name#3324,league_name#3325,league_level#3326,club_position#3327,club_jersey_number#3328,club_loaned_from#3329,club_joined#3330,club_contract_valid_until#3331,nationality_id#3332,... 88 more fields] csv

In [80]:
# Best Team in each fifa (considering the 11 top players)

df_best_teams = spark.sql("""

SELECT version, team
FROM fifa WHERE (version, team) IN
( SELECT tea, MAX(overall)
  FROM fifa
  GROUP BY team
)

""")

AnalysisException: Column 'team' does not exist. Did you mean one of the following? [fifa.age, fifa.dob, fifa.gender, fifa.overall, fifa.potential, fifa.version, fifa.version, fifa.club_name, fifa.height_cm, fifa.short_name, fifa.wage_eur, fifa.league_name, fifa.sofifa_id, fifa.value_eur, fifa.weight_kg, fifa.player_url, fifa.league_level, fifa.nationality_name, fifa.player_positions]; line 3 pos 7;
'Aggregate ['team], ['team, max(overall#3074) AS max(overall)#5349]
+- SubqueryAlias fifa
   +- View (`fifa`, [sofifa_id#3069,version#3179,short_name#3071,overall#3074,player_url#3070,age#3078,dob#3079,height_cm#3080,weight_kg#3081,nationality_name#3092,club_name#3083,league_name#3084,league_level#3846,potential#3075,value_eur#3076,wage_eur#3077,player_positions#3073,version#3844,gender#3683])
      +- Union false, false
         :- Project [sofifa_id#3069, version#3179, short_name#3071, overall#3074, player_url#3070, age#3078, dob#3079, height_cm#3080, weight_kg#3081, nationality_name#3092, club_name#3083, league_name#3084, cast(league_level#3085 as string) AS league_level#3846, potential#3075, value_eur#3076, wage_eur#3077, player_positions#3073, version#3844, gender#3683]
         :  +- Project [sofifa_id#3069, version#3179, short_name#3071, overall#3074, player_url#3070, age#3078, dob#3079, height_cm#3080, weight_kg#3081, nationality_name#3092, club_name#3083, league_name#3084, league_level#3085, potential#3075, value_eur#3076, wage_eur#3077, player_positions#3073, version#3179 AS version#3844, gender#3683]
         :     +- Project [sofifa_id#3069, version#3179, short_name#3071, overall#3074, player_url#3070, age#3078, dob#3079, height_cm#3080, weight_kg#3081, nationality_name#3092, club_name#3083, league_name#3084, league_level#3085, potential#3075, value_eur#3076, wage_eur#3077, player_positions#3073, version#3179, male AS gender#3683]
         :        +- Project [sofifa_id#3069, version#3179, short_name#3071, overall#3074, player_url#3070, age#3078, dob#3079, height_cm#3080, weight_kg#3081, nationality_name#3092, club_name#3083, league_name#3084, league_level#3085, potential#3075, value_eur#3076, wage_eur#3077, player_positions#3073, version#3179]
         :           +- Relation [_c0#3068,sofifa_id#3069,player_url#3070,short_name#3071,long_name#3072,player_positions#3073,overall#3074,potential#3075,value_eur#3076,wage_eur#3077,age#3078,dob#3079,height_cm#3080,weight_kg#3081,club_team_id#3082,club_name#3083,league_name#3084,league_level#3085,club_position#3086,club_jersey_number#3087,club_loaned_from#3088,club_joined#3089,club_contract_valid_until#3090,nationality_id#3091,... 88 more fields] csv
         +- Project [sofifa_id#3310, version#3420, short_name#3312, overall#3315, player_url#3311, age#3319, dob#3320, height_cm#3321, weight_kg#3322, nationality_name#3333, club_name#3324, league_name#3325, league_level#3326, potential#3316, value_eur#3317, wage_eur#3318, player_positions#3314, version#3420 AS version#3845, gender#3703]
            +- Project [sofifa_id#3310, version#3420, short_name#3312, overall#3315, player_url#3311, age#3319, dob#3320, height_cm#3321, weight_kg#3322, nationality_name#3333, club_name#3324, league_name#3325, league_level#3326, potential#3316, value_eur#3317, wage_eur#3318, player_positions#3314, version#3420, female AS gender#3703]
               +- Project [sofifa_id#3310, version#3420, short_name#3312, overall#3315, player_url#3311, age#3319, dob#3320, height_cm#3321, weight_kg#3322, nationality_name#3333, club_name#3324, league_name#3325, league_level#3326, potential#3316, value_eur#3317, wage_eur#3318, player_positions#3314, version#3420]
                  +- Relation [_c0#3309,sofifa_id#3310,player_url#3311,short_name#3312,long_name#3313,player_positions#3314,overall#3315,potential#3316,value_eur#3317,wage_eur#3318,age#3319,dob#3320,height_cm#3321,weight_kg#3322,club_team_id#3323,club_name#3324,league_name#3325,league_level#3326,club_position#3327,club_jersey_number#3328,club_loaned_from#3329,club_joined#3330,club_contract_valid_until#3331,nationality_id#3332,... 88 more fields] csv

In [50]:
!ls

dataset			 fifa-dataset-male.csv
fifa-dataset-female.csv  spark_transformation_local_test.ipynb

In [ ]:
schema = types.StructType([
    types.StructField('sofifa_id', types.IntegerType(), True),
    types.StructField('version', types.IntegerType(), True),
    types.StructField('short_name', types.StringType(), True),
    types.StructField('overall', types.IntegerType(), True),
    types.StructField('player_url', types.StringType(), True),
    types.StructField('age', types.IntegerType(), True),
    types.StructField('dob', types.DateType(), True),
    types.StructField('height_cm', types.IntegerType(), True),
    types.StructField('weight_kg', types.IntegerType(), True),
    types.StructField('nationality_name', types.StringType(), True),
    types.StructField('league_name', types.StringType(), True),
    types.StructField('league_level', types.IntegerType(), True),
    types.StructField('potential', types.IntegerType(), True),
    types.StructField('value_eur', types.IntegerType(), True),
    types.StructField('wage_eur', types.IntegerType(), True),
    types.StructField('player_positions', types.StringType(), True)
])

In [ ]:
spark.stop()