In [1]:
import pyspark
from pyspark.sql import SparkSession

In [2]:
spark = SparkSession.builder \
    .master("local[*]") \
    .appName('fifa-transformation') \
    .getOrCreate()

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

24/04/12 09:43:05 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
24/04/12 09:43:06 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.

In [3]:
df_male = spark.read.option("header", "true").option("inferSchema", "true").csv('fifa-dataset-male.csv')
df_female = spark.read.option("header", "true").option("inferSchema", "true").csv('fifa-dataset-female.csv')

In [4]:
df_male.head()
# df_female.head()

24/04/12 09:43:37 WARN package: Truncated the string representation of a plan since it was too large. This behavior can be adjusted by setting 'spark.sql.debug.maxToStringFields'.
24/04/12 09:43:37 WARN CSVHeaderChecker: CSV header does not conform to the schema.
 Header: , sofifa_id, player_url, short_name, long_name, player_positions, overall, potential, value_eur, wage_eur, age, dob, height_cm, weight_kg, club_team_id, club_name, league_name, league_level, club_position, club_jersey_number, club_loaned_from, club_joined, club_contract_valid_until, nationality_id, nationality_name, nation_team_id, nation_position, nation_jersey_number, preferred_foot, weak_foot, skill_moves, international_reputation, work_rate, body_type, real_face, release_clause_eur, player_tags, player_traits, pace, shooting, passing, dribbling, defending, physic, attacking_crossing, attacking_finishing, attacking_heading_accuracy, attacking_short_passing, attacking_volleys, skill_dribbling, skill_curve, skill_fk_accuracy, skill_long_passing, skill_ball_control, movement_acceleration, movement_sprint_speed, movement_agility, movement_reactions, movement_balance, power_shot_power, power_jumping, power_stamina, power_strength, power_long_shots, mentality_aggression, mentality_interceptions, mentality_positioning, mentality_vision, mentality_penalties, mentality_composure, defending_marking_awareness, defending_standing_tackle, defending_sliding_tackle, goalkeeping_diving, goalkeeping_handling, goalkeeping_kicking, goalkeeping_positioning, goalkeeping_reflexes, goalkeeping_speed, ls, st, rs, lw, lf, cf, rf, rw, lam, cam, ram, lm, lcm, cm, rcm, rm, lwb, ldm, cdm, rdm, rwb, lb, lcb, cb, rcb, rb, gk, player_face_url, club_logo_url, club_flag_url, nation_logo_url, nation_flag_url, version
 Schema: _c0, sofifa_id, player_url, short_name, long_name, player_positions, overall, potential, value_eur, wage_eur, age, dob, height_cm, weight_kg, club_team_id, club_name, league_name, league_level, club_position, club_jersey_number, club_loaned_from, club_joined, club_contract_valid_until, nationality_id, nationality_name, nation_team_id, nation_position, nation_jersey_number, preferred_foot, weak_foot, skill_moves, international_reputation, work_rate, body_type, real_face, release_clause_eur, player_tags, player_traits, pace, shooting, passing, dribbling, defending, physic, attacking_crossing, attacking_finishing, attacking_heading_accuracy, attacking_short_passing, attacking_volleys, skill_dribbling, skill_curve, skill_fk_accuracy, skill_long_passing, skill_ball_control, movement_acceleration, movement_sprint_speed, movement_agility, movement_reactions, movement_balance, power_shot_power, power_jumping, power_stamina, power_strength, power_long_shots, mentality_aggression, mentality_interceptions, mentality_positioning, mentality_vision, mentality_penalties, mentality_composure, defending_marking_awareness, defending_standing_tackle, defending_sliding_tackle, goalkeeping_diving, goalkeeping_handling, goalkeeping_kicking, goalkeeping_positioning, goalkeeping_reflexes, goalkeeping_speed, ls, st, rs, lw, lf, cf, rf, rw, lam, cam, ram, lm, lcm, cm, rcm, rm, lwb, ldm, cdm, rdm, rwb, lb, lcb, cb, rcb, rb, gk, player_face_url, club_logo_url, club_flag_url, nation_logo_url, nation_flag_url, version
Expected: _c0 but found:
CSV file: file:///home/lorenz-gcp/batch-processing-fifa-dataset-on-gcp/spark/fifa-dataset-male.csv

Row(_c0=0, sofifa_id=158023, player_url='https://sofifa.com/player/158023/lionel-messi/150002', short_name='L. Messi', long_name='Lionel Andr√©s Messi Cuccittini', player_positions='CF', overall=93, potential=95, value_eur=100500000, wage_eur=550000, age=27, dob=datetime.datetime(1987, 6, 24, 0, 0), height_cm=169, weight_kg=67, club_team_id=241.0, club_name='FC Barcelona', league_name='Spain Primera Division', league_level=1.0, club_position='CF', club_jersey_number=10.0, club_loaned_from=None, club_joined=datetime.datetime(2004, 7, 1, 0, 0), club_contract_valid_until=2018.0, nationality_id=52, nationality_name='Argentina', nation_team_id=1369.0, nation_position='CF', nation_jersey_number=10.0, preferred_foot='Left', weak_foot=3, skill_moves=4, international_reputation=5, work_rate='Medium/Low', body_type='Normal (170-)', real_face='Yes', release_clause_eur=None, player_tags='#Speedster, #Dribbler, #FK Specialist, #Acrobat, #Clinical Finisher, #Complete Forward', player_traits='Finesse Shot, Speed Dribbler (AI), One Club Player, Team Player', pace=93.0, shooting=89.0, passing=86.0, dribbling=96.0, defending=27.0, physic=63.0, attacking_crossing=84, attacking_finishing=94, attacking_heading_accuracy=71, attacking_short_passing=89, attacking_volleys=85, skill_dribbling=96, skill_curve=89, skill_fk_accuracy=90, skill_long_passing=76, skill_ball_control=96, movement_acceleration=96, movement_sprint_speed=90, movement_agility=94, movement_reactions=94, movement_balance=95, power_shot_power=80, power_jumping=73, power_stamina=77, power_strength=60, power_long_shots=88, mentality_aggression=48, mentality_interceptions=22, mentality_positioning=92, mentality_vision=90, mentality_penalties=76, mentality_composure=None, defending_marking_awareness=25, defending_standing_tackle=21, defending_sliding_tackle=20, goalkeeping_diving=6, goalkeeping_handling=11, goalkeeping_kicking=15, goalkeeping_positioning=14, goalkeeping_reflexes=8, goalkeeping_speed=None, ls='89+3', st='89+3', rs='89+3', lw='92+3', lf='90+3', cf='90+3', rf='90+3', rw='92+3', lam='92+3', cam='92+3', ram='92+3', lm='90+3', lcm='79+3', cm='79+3', rcm='79+3', rm='90+3', lwb='62+3', ldm='62+3', cdm='62+3', rdm='62+3', rwb='62+3', lb='54+3', lcb='45+3', cb='45+3', rcb='45+3', rb='54+3', gk='15+3', player_face_url='https://cdn.sofifa.net/players/158/023/15_120.png', club_logo_url='https://cdn.sofifa.net/teams/241/60.png', club_flag_url='https://cdn.sofifa.net/flags/es.png', nation_logo_url='https://cdn.sofifa.net/teams/1369/60.png', nation_flag_url='https://cdn.sofifa.net/flags/ar.png', version=15)

In [8]:
# Select only columns of interest

columns_to_keep = [
        'sofifa_id',
        'version',
        'short_name',
        'overall',
        'age',
        'dob',
        'height_cm',
        'weight_kg',
        'nationality_name',
        'club_name',
        'league_name',
        'league_level',
        'potential',
        'value_eur',
        'wage_eur',
        'player_positions'
]

df_male_select = df_male.select(columns_to_keep)
df_female_select = df_female.select(columns_to_keep)

In [9]:
df_male_select.show()

+---------+-------+-----------------+-------+---+-------------------+---------+---------+----------------+-------------------+--------------------+------------+---------+---------+--------+----------------+
|sofifa_id|version|       short_name|overall|age|                dob|height_cm|weight_kg|nationality_name|          club_name|         league_name|league_level|potential|value_eur|wage_eur|player_positions|
+---------+-------+-----------------+-------+---+-------------------+---------+---------+----------------+-------------------+--------------------+------------+---------+---------+--------+----------------+
|   158023|     15|         L. Messi|     93| 27|1987-06-24 00:00:00|      169|       67|       Argentina|       FC Barcelona|Spain Primera Div...|         1.0|       95|100500000|  550000|              CF|
|    20801|     15|Cristiano Ronaldo|     92| 29|1985-02-05 00:00:00|      185|       80|        Portugal|     Real Madrid CF|Spain Primera Div...|         1.0|       92| 79000000|  375000|          LW, LM|
|     9014|     15|        A. Robben|     90| 30|1984-01-23 00:00:00|      180|       80|     Netherlands|  FC Bayern M√ºnchen|German 1. Bundesliga|         1.0|       90| 54500000|  275000|      RM, LM, RW|
|    41236|     15|   Z. Ibrahimoviƒá|     90| 32|1981-10-03 00:00:00|      195|       95|          Sweden|Paris Saint-Germain|      French Ligue 1|         1.0|       90| 52500000|  275000|              ST|
|   167495|     15|         M. Neuer|     90| 28|1986-03-27 00:00:00|      193|       92|         Germany|  FC Bayern M√ºnchen|German 1. Bundesliga|         1.0|       90| 63500000|  300000|              GK|
|       41|     15|          Iniesta|     89| 30|1984-05-11 00:00:00|      170|       65|           Spain|       FC Barcelona|Spain Primera Div...|         1.0|       89| 36000000|  250000|          CM, LW|
|   176580|     15|        L. Su√°rez|     89| 27|1987-01-24 00:00:00|      181|       81|         Uruguay|       FC Barcelona|Spain Primera Div...|         1.0|       91| 49500000|  300000|          ST, CF|
|     7826|     15|    R. van Persie|     88| 30|1983-08-06 00:00:00|      187|       71|     Netherlands|  Manchester United|English Premier L...|         1.0|       88| 40500000|  230000|              ST|
|   121944|     15|B. Schweinsteiger|     88| 29|1984-08-01 00:00:00|      183|       79|         Germany|  FC Bayern M√ºnchen|German 1. Bundesliga|         1.0|       88| 39000000|  200000|         CM, CDM|
|   156616|     15|        F. Rib√©ry|     88| 31|1983-04-07 00:00:00|      170|       72|          France|  FC Bayern M√ºnchen|German 1. Bundesliga|         1.0|       88| 33000000|  200000|              LM|
|   167397|     15|           Falcao|     88| 28|1986-02-10 00:00:00|      177|       72|        Colombia|  Manchester United|English Premier L...|         1.0|       88| 46500000|  250000|              ST|
|   183277|     15|        E. Hazard|     88| 23|1991-01-07 00:00:00|      173|       74|         Belgium|            Chelsea|English Premier L...|         1.0|       90| 40500000|  210000|          LM, RM|
|   121939|     15|          P. Lahm|     87| 30|1983-11-11 00:00:00|      170|       66|         Germany|  FC Bayern M√ºnchen|German 1. Bundesliga|         1.0|       87| 24500000|  190000|     CDM, RB, CM|
|   155862|     15|     Sergio Ramos|     87| 28|1986-03-30 00:00:00|      183|       75|           Spain|     Real Madrid CF|Spain Primera Div...|         1.0|       87| 31500000|  220000|              CB|
|   164240|     15|     Thiago Silva|     87| 29|1984-09-22 00:00:00|      183|       79|          Brazil|Paris Saint-Germain|      French Ligue 1|         1.0|       87| 29000000|  190000|              CB|
|   168542|     15|      David Silva|     87| 28|1986-01-08 00:00:00|      170|       67|           Spain|    Manchester City|English Premier L...|         1.0|       87| 36500000|  220000|         LM, CAM|
|   173731|     15|          G. Bale|     87| 24|1989-07-16 00:00:00|      183|       74|           Wales|     Real Madrid CF|Spain Primera Div...|         1.0|       91| 39000000|  200000|          RM, RW|
|   177003|     15|        L. Modriƒá|     87| 28|1985-09-09 00:00:00|      174|       65|         Croatia|     Real Madrid CF|Spain Primera Div...|         1.0|       87| 36500000|  220000|         CM, CDM|
|   188545|     15|   R. Lewandowski|     87| 25|1988-08-21 00:00:00|      184|       78|          Poland|  FC Bayern M√ºnchen|German 1. Bundesliga|         1.0|       89| 44000000|  210000|          ST, CF|
|    10535|     15|             Xavi|     86| 34|1980-01-25 00:00:00|      170|       68|           Spain|       FC Barcelona|Spain Primera Div...|         1.0|       86| 15500000|  160000|              CM|
+---------+-------+-----------------+-------+---+-------------------+---------+---------+----------------+-------------------+--------------------+------------+---------+---------+--------+----------------+
only showing top 20 rows

In [10]:
# Add gender column

from pyspark.sql.functions import lit

df_male_select = df_male_select.withColumn('gender', lit('male'))
df_female_select = df_female_select.withColumn('gender', lit('female'))

In [11]:
# Show df size

print((df_male_select.count(), len(df_male_select.columns)))
print((df_female_select.count(), len(df_female_select.columns)))

(142079, 17)
(2244, 17)

In [12]:
# Union the male and female dataframes

df_complete = df_male_select.union(df_female_select)

In [23]:
# Show nan and null values
from pyspark.sql.functions import col, isnan, when, count

from pyspark.sql import functions as F

df_complete.select(*[
    (
        F.count(F.when((F.isnan(c) | F.col(c).isNull()), c)) if t not in ("timestamp", "date")
        else F.count(F.when(F.col(c).isNull(), c))
    ).alias(c)
    for c, t in df_complete.dtypes if c in df_complete.columns
]).show()

+---------+-------+----------+-------+---+---+---------+---------+----------------+---------+-----------+------------+---------+---------+--------+----------------+------+
|sofifa_id|version|short_name|overall|age|dob|height_cm|weight_kg|nationality_name|club_name|league_name|league_level|potential|value_eur|wage_eur|player_positions|gender|
+---------+-------+----------+-------+---+---+---------+---------+----------------+---------+-----------+------------+---------+---------+--------+----------------+------+
|        0|      0|         0|      0|  0|  0|        0|        0|               0|        0|       3874|        4259|        0|     4095|    3820|               0|     0|
+---------+-------+----------+-------+---+---+---------+---------+----------------+---------+-----------+------------+---------+---------+--------+----------------+------+

In [22]:
# fill club_name to 'uknown' when na or null
df_complete = df_complete.na.fill({'club_name': 'unknown'})

In [ ]:
# a ml predictor could be use to infer value_eur and wage_eur that are missing

In [38]:
# order dataset and assign id
from pyspark.sql.functions import monotonically_increasing_id

# orderBy dataframe in asc order with regard to the query that will be applied
df_ordered = df_complete.orderBy(['version', 'gender', 'club_name', col("overall").desc()])

# df.orderBy($"A", $"B".desc)

df_ordered = df_ordered.withColumn("unique_id", monotonically_increasing_id()).drop('sofifa_id')

In [39]:
df_ordered.show()

+---------+-------+----------------+-------+---+-------------------+---------+---------+----------------+--------------------+--------------------+------------+---------+---------+--------+----------------+------+---------+
|sofifa_id|version|      short_name|overall|age|                dob|height_cm|weight_kg|nationality_name|           club_name|         league_name|league_level|potential|value_eur|wage_eur|player_positions|gender|unique_id|
+---------+-------+----------------+-------+---+-------------------+---------+---------+----------------+--------------------+--------------------+------------+---------+---------+--------+----------------+------+---------+
|   211703|     15|  M. Schnatterer|     67| 28|1985-11-18 00:00:00|      180|       75|         Germany|1. FC Heidenheim ...|German 2. Bundesliga|         2.0|       67|   675000|    6000|         LM, CAM|  male|        0|
|   170448|     15|   J. Zimmermann|     65| 29|1985-04-19 00:00:00|      190|       86|         Germany|1. FC Heidenheim ...|German 2. Bundesliga|         2.0|       65|   525000|    2000|              GK|  male|        1|
|   211822|     15|      S. Morabit|     65| 25|1988-07-05 00:00:00|      178|       76|          France|1. FC Heidenheim ...|German 2. Bundesliga|         2.0|       69|   625000|    3000|          ST, CF|  male|        2|
|   211899|     15|F. Niederlechner|     65| 23|1990-10-24 00:00:00|      188|       85|         Germany|1. FC Heidenheim ...|German 2. Bundesliga|         2.0|       69|   550000|    3000|              ST|  male|        3|
|   195262|     15|     A. Grimaldi|     64| 23|1991-04-05 00:00:00|      188|       90|         Germany|1. FC Heidenheim ...|German 2. Bundesliga|         2.0|       68|   550000|    3000|              ST|  male|        4|
|   196339|     15|M. Titsch-Rivero|     64| 24|1989-11-02 00:00:00|      182|       76|         Germany|1. FC Heidenheim ...|German 2. Bundesliga|         2.0|       69|   550000|    2000|     CM, CDM, LM|  male|        5|
|   211693|     15|      T. G√∂hlert|     64| 29|1984-09-15 00:00:00|      190|       82|         Germany|1. FC Heidenheim ...|German 2. Bundesliga|         2.0|       64|   400000|    2000|              CB|  male|        6|
|   222553|     15|    S. Griesbeck|     64| 23|1990-10-03 00:00:00|      189|       84|         Germany|1. FC Heidenheim ...|German 2. Bundesliga|         2.0|       68|   400000|    2000|         CDM, CM|  male|        7|
|   199305|     15|       M. Wittek|     63| 25|1989-03-30 00:00:00|      193|       89|         Germany|1. FC Heidenheim ...|German 2. Bundesliga|         2.0|       65|   325000|    2000|         CB, CDM|  male|        8|
|   203454|     15|    J. Reinhardt|     63| 26|1988-03-29 00:00:00|      182|       75|         Germany|1. FC Heidenheim ...|German 2. Bundesliga|         2.0|       66|   375000|    3000|     CM, CDM, RM|  male|        9|
|   211745|     15|        P. Riese|     63| 24|1989-11-12 00:00:00|      175|       70|         Germany|1. FC Heidenheim ...|German 2. Bundesliga|         2.0|       66|   275000|    2000|         CDM, CM|  male|       10|
|   211872|     15|        P. Heise|     63| 23|1991-06-20 00:00:00|      183|       78|         Germany|1. FC Heidenheim ...|German 2. Bundesliga|         2.0|       68|   275000|    2000|              LB|  male|       11|
|   211991|     15|     M. Vitzthum|     63| 22|1992-06-20 00:00:00|      185|       75|         Germany|1. FC Heidenheim ...|German 2. Bundesliga|         2.0|       71|   230000|    2000|              LB|  male|       12|
|   177083|     15|       R. Strau√ü|     62| 27|1986-10-07 00:00:00|      175|       70|         Germany|1. FC Heidenheim ...|German 2. Bundesliga|         2.0|       63|   300000|    3000|          RB, RM|  male|       13|
|   199831|     15|  R. Sattelmaier|     62| 26|1987-08-07 00:00:00|      187|       87|         Germany|1. FC Heidenheim ...|German 2. Bundesliga|         2.0|       63|   325000|    3000|              GK|  male|       14|
|   201925|     15|        K. Kraus|     62| 21|1992-08-12 00:00:00|      190|       91|         Germany|1. FC Heidenheim ...|German 2. Bundesliga|         2.0|       68|   230000|    2000|              CB|  male|       15|
|   204140|     15|       D. Malura|     62| 30|1984-06-20 00:00:00|      187|       81|         Germany|1. FC Heidenheim ...|German 2. Bundesliga|         2.0|       62|   230000|    2000|              RB|  male|       16|
|   204378|     15|        P. Mayer|     62| 26|1988-03-28 00:00:00|      180|       78|         Germany|1. FC Heidenheim ...|German 2. Bundesliga|         2.0|       66|   400000|    3000|              ST|  male|       17|
|   192566|     15|       M. Janzer|     61| 22|1992-03-07 00:00:00|      176|       77|         Germany|1. FC Heidenheim ...|German 2. Bundesliga|         2.0|       71|   190000|    2000|     LM, RM, CAM|  male|       18|
|   211736|     15|     R. Leipertz|     61| 21|1993-02-01 00:00:00|      183|       82|         Germany|1. FC Heidenheim ...|German 2. Bundesliga|         2.0|       71|   190000|    2000|     LM, RM, CAM|  male|       19|
+---------+-------+----------------+-------+---+-------------------+---------+---------+----------------+--------------------+--------------------+------------+---------+---------+--------+----------------+------+---------+
only showing top 20 rows

In [41]:
# now that dataframe is ready export it to parquet by partitionin for version
# even if dataset is not > 1 GB, if that were the case, this partitioning is the proper one as 
# when qurying the data they will always be grouped by da version of fifa

df_ordered.write.partitionBy('version').mode('overwrite').format('parquet').save('dataset/')

In [ ]:
df_ordered.printSchema()

In [ ]:
# SAVE TO BIGQUERY

In [ ]:
spark.stop()